# Root-level ignores
.env
node_modules/
dist/
build/
*.log
.DS_Store

# Server (Backend) ignores
server/node_modules/
server/.env
server/dist/
server/build/

# Client (Frontend) ignores
client/node_modules/
client/.env
client/dist/
client/build/

# IDE and OS-specific files
.vscode/
*.swp
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
